.list {
  .list-item {
    position: relative;
    & + .list-item {
      border-top: $border;
    }
    &:last-child {
      border-bottom: $border;
    }
    .list-item-content {
      will-change: transform;
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 12px;
      z-index: 5;
      background: $color-white;
    }
    .list-item-background {
      position: absolute;
      top: 0;
      display: inline-block;
      width: 50%;
      height: 100%;
      overflow: hidden;
      opacity: 0;

      &__over {
        width: 100%;
        opacity: 1;
      }
    }
    .list-item-left-background {
      left: 0;
      background: red;
      text-align: left;
    }
    .list-item-right-background {
      right: 0;
      background: green;
      text-align: right;
    }
  }
}
