.tab {
  width: 100%;
  height: 100%;

  .tab-list {
    position: relative;
    z-index: 1;
    display: flex;
    height: 48px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    .tab-list-item {
      position: relative;
      flex: 1;
      text-align: center;
      font-weight: $font-weight-bold;
      cursor: pointer;
      user-select: none;
      background-color: $color-white;

      &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        content: '';
        background: $color-primary;
        will-change: width, left;
        transition: $timing-slow;
        transition-property: width, left;
      }
      &.tab-list-item__active {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .tab-content-list {
    display: flex;
    position: relative;
    height: 100%;
    will-change: left;

    .tab-content-list-item {
      flex: 1;
      height: 100%;
      background: $color-white;
    }
  }
}
