.desktop,
.mobile {
  .home-page {
    background-color: $color-primary;
    color: $color-white;

    header {
      padding: 124px 0;
      text-align: center;

      h1 {
        padding: 12px 4px;
      }

      p {
        margin-bottom: 24px;
        padding: 12px 4px;
      }

      .login-button-list {
        width: 200px;
        margin: 0 auto;

        li {
          margin-bottom: 12px;

          a {
            display: inline-block;
            width: 100%;
            padding: 8px 16px;
            border: $border;
            border-color: $color-white;
            border-radius: $radius;
            opacity: 1;
            transition-timing-function: $ease-out;
            transition-duration: $time-slow;
            transition-property: opacity;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .lang-list-container {
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .lang-list {
      li {
        display: inline-block;
        padding: 16px 12px;
      }
    }
  }
}
