.list {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .list-content {
    .list-item {
      border-bottom: $border;
      background-color: $color-white;

      &__holding {
        box-shadow: 0 1px 1px 1px $color-ui-shadow;
        transition-property: box-shadow;
      }

      .list-item-content {
        background-color: $color-white;
        padding: 18px 12px;

        &__swipe_right {
          background-color: $color-divider;
        }

        &__completed {
          background-color: $color-divider;
          &.list-item-content__swipe_right {
            background-color: $color-white;
          }
        }

      }
      .list-item-background {
        color: $color-white;
        & div {
          font-size: 18px;
          font-weight: bold;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 12px;
          transition: $timing-basic;
          transition-property: font-size;
        }

        &__will-swipe {
          & div {
            font-size: 32px;
          }
        }
      }
      .list-item-left-background {
        background-color: #4caf50;
        & div {
          justify-content: flex-start;
        }
      }
      .list-item-right-background {
        background-color: #ff9800;
        & div {
          justify-content: flex-end;
        }
      }
    }
  }
}
