.not-found-page {
  &.page-transition-enter {
    z-index: 1;
    transform: translateY(100%);
  }
  &.page-transition-enter.page-transition-enter-active {
    transform: translateY(0);
    transition: transform $page-transition-time $ease-out-expo;
  }
  &.page-transition-leave {
    transform: translateY(0);
  }
  &.page-transition-leave.page-transition-leave-active {
    z-index: 1;
    transform: translateY(100%);
    transition: transform $page-transition-time $ease-out-expo;
  }
}
