.profile-page {
  &.page-transition-enter {
    z-index: 1;
    transform: translateY(100%);
  }
  &.page-transition-enter.page-transition-enter-active {
    transform: translateY(0);
    transition: $timing-transition;
    transition-property: transform;
    will-change: transform;
  }
  &.page-transition-leave {
    transform: translateY(0);
  }
  &.page-transition-leave.page-transition-leave-active {
    z-index: 1;
    transform: translateY(100%);
    transition: $timing-transition;
    transition-property: transform;
    will-change: transform;
  }
}
