/* reset */
.sortable-list,
.sortable-list-content,
.sortable-list-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
  user-select: none;
}

/* basic */
.sortable-list {
  list-style: none;
  position: relative;
  overflow: scroll;
}
.sortable-list-content {
  width: 100%;
  .sortable-list-item {
    overflow: hidden;
    transition-timing-function: $ease-out;
    transition-duration: $time-fast;
    will-change: transform, height, max-height;

    &__sorting {
      position: relative;
      z-index: 1;
    }

    &-transition-enter {
      max-height: 0;
    }

    &-transition-leave {
      transition-timing-function: $ease-out;
      transition-duration: $time-fast;
      transition-property: height;
      &-active {
        height: 0!important;
      }
    }

    &__moving {
      position: relative;
    }
  }
}

/* structure */
/* .sortable-list { */
/*   .sortable-list-content { */
/*     .sortable-list-item { */
/*       .sortable-list-item__sorting {} */
/*     } */
/*   } */
/* } */
