.sortable-list {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .sortable-list-content {
    .sortable-list-item {
      cursor: pointer;
      border-bottom: $border;
      background-color: $color-white;

      &__sorting {
        box-shadow: 0 1px 1px 1px $color-ui-shadow;
        transition-property: box-shadow;
      }
      &:active {
        cursor: move;
      }
    }
  }
}

.sortable-list.task-list {
  .sortable-list-content {
    .sortable-list-item {
      position: relative;

      &__completed {
        background-color: $color-divider;
      }
      .task-list-item-content {
        padding: 0 48px;

        .task-list-item-content-text {
          display: inline-block;
          padding: 18px 12px;
          word-break: break-all;
          a {
            color: $color-primary-dark;
          }
        }
        .task-list-item-content-schedule-container {
          position: absolute;
          top: 0;
          left: 44px;
          display: inline-block;
          width: 56px;
          height: 100%;
          padding: 8px 12px 0;
          overflow: hidden;
          vertical-align: top;
          .task-list-item-content-schedule {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          & + .task-list-item-content-text {
            padding-left: 68px;
          }
        }
      }
      .task-list-left-icon,
      .task-list-right-icon {
        position: absolute;
        top: 0;
        width: 44px;
        height: 100%;
        font-size: 24px;
      }
      .task-list-left-icon {
        left: 0;
      }
      .task-list-right-icon {
        right: 0;
        opacity: 0;
        transition-duration: $time-fast;
        transition-timing-function: ease-out;
        transition-property: opacity;
        &:focus {
          opacity: 1;
        }
      }

      &:hover {
        .task-list-right-icon {
          opacity: 1;
        }
      }
    }
  }
}

.sortable-list.label-list {
  .sortable-list-content {
    .sortable-list-item {
      position: relative;

      &__unvisibled {
        background-color: $color-divider;
      }
      .label-list-item-content {
        padding: 18px 56px;
      }
      .label-list-left-icon,
      .label-list-right-icon {
        position: absolute;
        top: 0;
        width: 44px;
        height: 100%;
        font-size: 24px;
      }
      .label-list-left-icon {
        left: 0;
      }
      .label-list-right-icon {
        right: 0;
        opacity: 0;
        transition-duration: $time-fast;
        transition-timing-function: ease-out;
        transition-property: opacity;
        &:focus {
          opacity: 1;
        }
      }

      &:hover {
        .label-list-right-icon {
          opacity: 1;
        }
      }
    }
  }
}
