.sortable-list {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .sortable-list-content {
    .sortable-list-item {
      border-bottom: $border;
      background-color: $color-white;
      padding: 18px 12px;

      &__sorting {
        box-shadow: 0 1px 1px 1px $color-ui-shadow;
        transition-property: box-shadow;
      }
    }
  }
}

.sortable-list.task-list {
  .sortable-list-content {
    .sortable-list-item {
      display: flex;

      &__completed {
        background-color: $color-divider;
      }
      .task-list-content,
      .task-list-left-icon,
      .task-list-right-icon {
        flex: 1;
      }
    }
  }
}

.sortable-list.label-list {
  .sortable-list-content {
    .sortable-list-item {
      &__unvisibled {
        background-color: $color-divider;
      }
    }
  }
}
