.sortable-list {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .sortable-list-content {
    .sortable-list-item {
      border-bottom: $border;
      background-color: $color-white;

      &__sorting {
        box-shadow: 0 1px 1px 1px $color-ui-shadow;
        transition-property: box-shadow;
      }
    }
  }
}

.sortable-list.task-list {
  .sortable-list-content {
    .sortable-list-item {
      position: relative;

      &__completed {
        background-color: $color-divider;
      }
      .task-list-item-content {
        width: 100%;
        padding: 18px 56px;
      }
      .task-list-left-icon,
      .task-list-right-icon {
        position: absolute;
        top: 0;
        width: 44px;
        height: 100%;
        font-size: 24px;
      }
      .task-list-left-icon {
        left: 0;
      }
      .task-list-right-icon {
        right: 0;
        opacity: 0;
        transition-duration: $time-fast;
        transition-timing-function: ease-out;
        transition-property: opacity;
        &:focus {
          opacity: 1;
        }
      }

      &:hover {
        .task-list-right-icon {
          opacity: 1;
        }
      }
    }
  }
}

.sortable-list.label-list {
  .sortable-list-content {
    .sortable-list-item {
      &__unvisibled {
        background-color: $color-divider;
      }
      .label-list-item-content {
        width: 100%;
        padding: 18px 56px;
      }
      .label-list-left-icon,
      .label-list-right-icon {
        position: absolute;
        top: 0;
        width: 44px;
        height: 100%;
        font-size: 24px;
      }
      .label-list-left-icon {
        left: 0;
      }
      .label-list-right-icon {
        right: 0;
        opacity: 0;
        transition-duration: $time-fast;
        transition-timing-function: ease-out;
        transition-property: opacity;
        &:focus {
          opacity: 1;
        }
      }

      &:hover {
        .label-list-right-icon {
          opacity: 1;
        }
      }
    }
  }
}
