.modal {
  position: fixed;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  transition-timing-function: $ease-out-expo;
  transition-duration: $time-max;
  transition-property: top;
  &__open {
    top: 0;
  }
}
