$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$timing-min: 100ms $ease-out-expo;
$timing-fast: 175ms $ease-out-expo;
$timing-basic: 200ms $ease-out-expo;
$timing-slow: 400ms $ease-out-expo;
$timing-transition: 600ms $ease-out-expo;
