.dashboard-page {
  .tab-container {
    /* 56px - application header height */
    height: calc(100% - 56px);
    .tab-list {
      position: relative;
      z-index: 2;
      .list-container {
        height: calc(100% - 56px);
      }
    }
  }

  .page-content {
    max-width: 680px;
    margin: 0 auto;
    overflow: hidden;
  }

  &.page-transition-enter {
    .page-content {
      transform: scale(.9)
    }
  }
  &.page-transition-enter.page-transition-enter-active {
    .page-content {
      transform: scale(1);
      transition: $timing-transition;
      transition-property: transform;
      will-change: transform;
    }
  }
  &.page-transition-leave {
    .page-content {
      z-index: -1;
      transform: scale(1);
    }
  }
  &.page-transition-leave.page-transition-leave-active {
    .page-content {
      transform: scale(.9);
      transition: $timing-transition;
      transition-property: transform;
      will-change: transform;
    }
  }
}

.tab-content-list-item {
  position: relative;
  .add-task-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 52px;
    height: 56px;
    z-index: 1;
    box-shadow: 0 -1px 1px $color-ui-shadow;
    font-weight: $font-weight-bold;
    background-color: $color-white;
    text-align: center;
  }
}
