.desktop,
.mobile {
  .dashboard-page {
    .page-content {
      position: relative;
      max-width: 680px;
      margin: 0 auto;
      overflow: hidden;
    }

    .tab-container {
      /* 56px - application header height */
      height: calc(100% - 56px);
      .tab-list {
        position: relative;
        z-index: 2;
      }
      .list-container {
        height: calc(100% - 56px);
      }
    }
  }

  .tab-content-list-item {
    position: relative;
    .add-task-button {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0;
      line-height: 52px;
      height: 56px;
      z-index: 1;
      box-shadow: 0 -1px 1px $color-ui-shadow;
      font-weight: $font-weight-bold;
      background-color: $color-white;
      text-align: center;
    }
  }

  /* transition */
  .dashboard-page {
    /* scale in */
    &.page-transition-enter {
      .page-content {
        transform: scale(.9)
      }
    }
    &.page-transition-enter.page-transition-enter-active {
      .page-content {
        transform: scale(1);
        transition: $timing-transition;
        transition-property: transform;
        will-change: transform;
      }
    }

    /* scale out */
    &.page-transition-leave {
      .page-content {
        z-index: -1;
        transform: scale(1);
      }
    }
    &.page-transition-leave.page-transition-leave-active {
      .page-content {
        transform: scale(.9);
        transition: $timing-transition;
        transition-property: transform;
        will-change: transform;
      }
    }
  }
}

.desktop {
  .task-list {
    .list-content {
      .list-item {
        position: relative;

        &__completed {
          background-color: $color-divider;
        }
        .task-list-item-content {
          padding: 0 48px;

          .task-list-item-content-text {
            display: inline-block;
            padding: 18px 12px;
            word-break: break-all;
            a {
              color: $color-primary-dark;
            }
          }
          .task-list-item-content-schedule-container {
            position: absolute;
            top: 0;
            left: 44px;
            display: inline-block;
            width: 56px;
            height: 100%;
            padding: 8px 12px 0;
            overflow: hidden;
            vertical-align: top;
            .task-list-item-content-schedule {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            & + .task-list-item-content-text {
              padding-left: 68px;
            }
          }
        }
        .task-list-left-icon,
        .task-list-right-icon {
          position: absolute;
          top: 0;
          width: 44px;
          height: 100%;
          font-size: 24px;
        }
        .task-list-left-icon {
          left: 0;
        }
        .task-list-right-icon {
          right: 0;
          opacity: 0;
          transition-duration: $time-fast;
          transition-timing-function: ease-out;
          transition-property: opacity;
          &:focus {
            opacity: 1;
          }
        }

        &:hover {
          .task-list-right-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}

.mobile {
  .task-list {
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .list-content {
      .list-item {
        border-bottom: $border;
        background-color: $color-white;

        &__holding {
          box-shadow: 0 1px 1px 1px $color-ui-shadow;
          transition-property: box-shadow;
        }

        .swipeable-view-content {
          background-color: $color-white;
          padding: 18px 12px;
          position: relative;
          padding: 0;

          &__swipe_right {
            background-color: $color-divider;
          }

          &__completed {
            background-color: $color-divider;
            &.list-item-content__swipe_right {
              background-color: $color-white;
            }
          }

          .task-list-item-content-text {
            display: inline-block;
            padding: 18px 12px;
            word-break: break-all;
            a {
              color: $color-primary-dark;
            }
          }
          .task-list-item-content-schedule-container {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 56px;
            height: 100%;
            padding: 8px 12px 0;
            overflow: hidden;
            vertical-align: top;
            .task-list-item-content-schedule {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            & + .task-list-item-content-text {
              padding-left: 68px;
            }
          }
        }
        .swipeable-view-background {
          color: $color-white;
          padding: 0 12px;
          & .icon {
            font-size: 24px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            transition-timing-function: $ease-out-expo;
            transition-duration: $time-basic;
            transition-property: font-size;
          }

          &__will-swipe {
            & .icon {
              font-size: 32px;
            }
          }
        }
        .swipeable-view-background__left {
          background-color: $color-primary;
          & .icon {
            justify-content: flex-start;
          }
        }
        .swipeable-view-background__right {
          background-color: $color-accent-attention;
          & .icon {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.task-list-item-content-schedule {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  color: $color-white;
  background-color: $color-primary;
  text-align: center;
  border-radius: $radius;
  vertical-align: top;
  &-month {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 8px;
    line-height: 8px;
    font-size: 8px;
    vertical-align: top;
  }
  &-date {
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 0;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
  }
  &-day {
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 8px;
    line-height: 8px;
    font-size: 8px;
    vertical-align: top;
  }

  &__jan {
    background-color: rgb(255, 216, 120);
  }
  &__feb {
    background-color: rgb(243, 191, 136);
  }
  &__mar {
    background-color: rgb(249, 129, 143);
  }
  &__apr {
    background-color: rgb(214, 110, 122);
  }
  &__may {
    background-color: rgb(167, 189, 0);
  }
  &__jun {
    background-color: rgb(155, 85, 128);
  }
  &__jul {
    background-color: rgb(203, 140, 45);
  }
  &__aug {
    background-color: rgb(62, 179, 112);
  }
  &__sep {
    background-color: rgb(114, 164, 106);
  }
  &__oct {
    background-color: rgb(255, 166, 0);
  }
  &__nov {
    background-color: rgb(151, 39, 58);
  }
  &__dec {
    background-color: rgb(0, 134, 173);
  }
}
