.desktop,
.mobile {
  .labels-page {
    .page-content {
      position: relative;
      max-width: 680px;
      margin: 0 auto;
      overflow: hidden;
    }

    .labels-header {
      position: relative;
      z-index: 2;
      height: 56px;
      box-shadow: 0 1px 1px $color-ui-shadow;
      .close-labels-button {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 44px;
        height: 44px;
        font-size: 24px;
      }
    }
    .list-container {
      height: calc(100% - 56px - 56px);
    }

    .add-label-button {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0;
      line-height: 52px;
      height: 56px;
      z-index: 1;
      box-shadow: 0 -1px 1px $color-ui-shadow;
      font-weight: $font-weight-bold;
      background-color: $color-white;
      text-align: center;
    }
  }

  /* transition */
  .connector-dashboard {
    .labels-page {
      /* slide in */
      &.page-transition-enter {
        pointer-events: none;
        z-index: 1;
        transform: translateX(100%);
      }
      &.page-transition-enter.page-transition-enter-active {
        transform: translateX(0);
        transition: $timing-transition;
        transition-property: transform;
        will-change: transform;
      }

      /* slide out */
      &.page-transition-leave {
        pointer-events: none;
        transform: translateX(0);
      }
      &.page-transition-leave.page-transition-leave-active {
        z-index: 1;
        transform: translateX(100%);
        transition: $timing-transition;
        transition-property: transform;
        will-change: transform;
      }
    }
  }

  .connector-labels-new,
  .connector-labels-edit {
    .labels-page {
      /* scale in */
      &.page-transition-enter {
        .page-content {
          transform: scale(.9)
        }
      }
      &.page-transition-enter.page-transition-enter-active {
        .page-content {
          transform: scale(1);
          transition: $timing-transition;
          transition-property: transform;
          will-change: transform;
        }
      }

      /* scale out */
      &.page-transition-leave {
        .page-content {
          z-index: -1;
          transform: scale(1);
        }
      }
      &.page-transition-leave.page-transition-leave-active {
        .page-content {
          transform: scale(.9);
          transition: $timing-transition;
          transition-property: transform;
          will-change: transform;
        }
      }
    }
  }
}

.desktop {
  .label-list {
    .list-content {
      .list-item {
        position: relative;

        &__unvisibled {
          background-color: $color-divider;
        }
        .label-list-item-content {
          padding: 18px 56px;
        }
        .label-list-left-icon,
        .label-list-right-icon {
          position: absolute;
          top: 0;
          width: 44px;
          height: 100%;
          font-size: 24px;
        }
        .label-list-left-icon {
          left: 0;
        }
        .label-list-right-icon {
          right: 0;
          opacity: 0;
          transition-duration: $time-fast;
          transition-timing-function: ease-out;
          transition-property: opacity;
          &:focus {
            opacity: 1;
          }
        }

        &:hover {
          .label-list-right-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}

.mobile {
  .label-list {
    .list-content {
      .list-item {
        .swipeable-view-content {
          padding: 18px 12px;

          &__swipe_right {
            background-color: $color-divider;
          }

          &__unvisibled {
            background-color: $color-divider;
            &.list-item-content__swipe_right {
              background-color: $color-white;
            }
          }
        }
        .swipeable-view-background {
          color: $color-white;
          padding: 0 12px;
          & .icon {
            font-size: 24px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            transition-timing-function: $ease-out-expo;
            transition-duration: $time-basic;
            transition-property: font-size;
          }

          &__will-swipe {
            & .icon {
              font-size: 32px;
            }
          }
        }
        .swipeable-view-background__left {
          background-color: $color-primary;
          & .icon {
            justify-content: flex-start;
          }
        }
        .swipeable-view-background__right {
          background-color: $color-accent-attention;
          & .icon {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
